/* main.css */
@import './base.css';

/* Body Styling */
body {
  margin: 0;
  padding: 0;
  background-color: var(--vt-c-white);
}

/* App Container */
#app {
  width: 100wh;
  padding: 2rem;
  /* display: flex; */
  /* place-items: center; */
}

/* Links */
a {
  text-decoration: none;
  color: var(--vt-c-indigo); /* Utiliza el color índigo de tu paleta */
  transition: 0.4s;
}

a:hover {
  background-color: var(--vt-c-divider-light-1); /* Fondo al hacer hover, usando un color suave */
}